.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--sidebar-mini);
    background: var(--card);
    box-shadow: var(--shadow);
    overflow: hidden;
    transition: width .3s;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
}

.sidebar-top {
    flex: 0 0 auto;
}

.sidebar-bottom {
    flex: 0 0 auto;
    margin-top: auto;
}

.sidebar .item {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    padding: 0 0.7rem;
    text-decoration: none;
    color: inherit;
    min-height: 40px;
}

.sidebar .item mat-icon {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .item:hover {
    background: var(--sidebar-hover);
}

.sidebar .label {
    opacity: 0;
    white-space: nowrap;
    transition: opacity .2s;
}

.sidebar:hover {
    width: var(--sidebar-wide);
}

.sidebar:hover .label {
    opacity: 1;
}

.sidebar .item.active {
    background: var(--sidebar-active);
}

.sidebar .divider {
    height: 1px;
    margin: .5rem 0;
    background: var(--sidebar-devider);
}

.settings-header {
    display: flex;
    align-items: center;
    padding-left: 3px;
    opacity: 0;
    transition: opacity .2s;
}

.settings-header .label {
    opacity: 1;
    font-size: 11px;
    color: var(--text-secondary);
    letter-spacing: 0.5px;
}

.settings-header .divider-line {
    flex: 1;
    height: 1px;
    background: var(--sidebar-devider);
}

.sidebar:hover .settings-header {
    opacity: 1;
}