.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--sidebar-mini);
    background: var(--card);
    box-shadow: var(--shadow);
    overflow: hidden;
    transition: width .3s;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
}

.sidebar-top {
    flex: 0 0 auto;
}

.sidebar-bottom {
    flex: 0 0 auto;
    margin-top: auto;
}

.sidebar .item {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    padding: 0 0.7rem;
    text-decoration: none;
    color: inherit;
    min-height: 40px;
}

.sidebar .item mat-icon {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .item:hover {
    background: var(--sidebar-hover);
}

.sidebar .label {
    opacity: 0;
    white-space: nowrap;
    transition: opacity .2s;
}

.sidebar:hover {
    width: var(--sidebar-wide);
}

.sidebar:hover .label {
    opacity: 1;
}

.sidebar .item.active {
    background: var(--sidebar-active);
}

.sidebar .divider {
    height: 1px;
    margin: .5rem 0;
    background: var(--sidebar-devider);
}

.settings-header {
    display: flex;
    align-items: center;
    padding-left: 3px;
    opacity: 0;
    transition: opacity .2s;
}

.settings-header .label {
    opacity: 1;
    font-size: 11px;
    color: var(--text-secondary);
    letter-spacing: 0.5px;
}

.settings-header .divider-line {
    flex: 1;
    height: 1px;
    background: var(--sidebar-devider);
}

.sidebar:hover .settings-header {
    opacity: 1;
}



.brand-header {
    background: linear-gradient(135deg, var(--gradient1) 0%, var(--gradient2) 100%);
    display: flex;
    align-items: center;
}

.brand-logo {
    width: 50px;
    height: 50px;
    display: block;
}

.brand-label {
    font-family: 'Segoe UI', 'Roboto', system-ui, -apple-system, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 0.3px;
    padding: 0px 10px;
    border-radius: 100px;
    text-transform: none !important;
    line-height: 1.2;
    text-align: left;
    display: inline-block;
    width: 160px;
    min-width: 160px;
    max-width: 160px;
}

.author-wrapper {
    display: inline-block;
    white-space: nowrap;
    position: relative;
}

.brand-author {
    font-family: 'Dancing Script', 'Kaushan Script', 'Marck Script', cursive;
    font-weight: 700;
    font-size: 1.5rem;
    text-shadow: 0 0 5px rgba(255, 215, 0, 2.5);
    color: inherit;
    text-decoration: none;
    display: inline;
}

.bruse-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    right: -55px;
    // top: 0px;
    /* подвинуть вправо */
    top: 30%;
    transform: translateY(-50%);
}

@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}