<!-- <div class="widgets-panel">
    @if (weather) {
    <div class="item">
        <span class="val">{{ weather.current_weather.temperature }}°</span>
        <span class="desc">Погода</span>
    </div>
    }

    @if (currency) {
    <div class="item">
        <span class="val">{{ currency }} ₽</span>
        <span class="desc">USD </span>
    </div>
    }

    @if (oil) {
    <div class="item">
        <span class="val">${{ oil }}</span>
        <span class="desc">Brent</span>
    </div>
    }
</div> -->