.button-add {
    margin-bottom: 10px;
    margin-left: auto;
    display: block;
}

.clickable {
    cursor: pointer;
}

.sniffers-container {
    .card-side.left {
        width: 40px;

        &:first-child {
            background: linear-gradient(135deg, var(--gradient1) 0%, var(--gradient2) 100%);
            border-radius: 12px 0 0 12px;
        }
    }

    .card-main {
        flex: 1;
        padding: 0px 15px;

        .user-name {
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 12px;
            // color: #2c3e50;
        }

        .info-row {
            display: flex;
            margin-bottom: 8px;
            font-size: 0.9rem;

            .info-label {
                width: 150px;
                padding-left: 5px;
                // color: #7f8c8d;
            }

            .info-value {
                // color: #34495e;
                font-weight: 500;
            }
        }

    }
}

.horizontal-box {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
    width: 100%;

    button {
        flex: 1;
    }
}



.database-group {
    position: relative;
    border: 1px solid var(--color);
    border-radius: 8px;
    width: 40%;
}

.database-label {
    position: absolute;
    top: -9px;
    left: 10px;
    background: var(--background);
    font-size: 10px;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;

    .left-content {
        display: flex;
        align-items: center;
        flex: 1;
    }

    .info-label {
        white-space: nowrap;
    }

    .info-value {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .right-buttons {
        display: flex;
        gap: 4px;
        flex-shrink: 0;
    }

    button {
        flex-shrink: 0;
    }
}