<div class="filters-container">
    <button mat-raised-button color="primary" (click)="userService.setVisibleAdd(true)" class="button-add">
        Создать пользователя
    </button>
    <div class="header-container">
        <div class="cards-grid">
            @if (userService.visibleAdd()) {
            <mat-card tabindex="0" class="card-style">
                <app-user-add-component></app-user-add-component>
            </mat-card>
            }
            @for (user of users(); track user.id) {
            @if (editUserId() === user.id) {
            <mat-card tabindex="0" class="card-style">
                <app-user-edit-component [user]="user" (saved)="finishEdit()" (cancelled)="finishEdit()">
                </app-user-edit-component>
            </mat-card>
            } @else {
            <mat-card tabindex="0" class="card-style">
                <div class="card-layout">
                    <div class="card-side">
                    </div>
                    <div class="card-main">
                        <mat-card-header>
                            <mat-card-title class="user-name">{{ user.fullName }}</mat-card-title>
                            <mat-card-subtitle class="user-login">{{ user.userName }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="role-section">
                                <span class="role-chip">{{ user.role }}</span>
                            </div>
                        </mat-card-content>
                    </div>
                    <div class="card-side">
                        <div class="button-size">
                            <mat-icon (click)="startEdit(user)" matTooltip="Редактировать">edit</mat-icon>
                        </div>
                        <!-- <div class="button-size">
                            <mat-icon (click)="blockUser(user.id)" matTooltip="Заблокировать">block</mat-icon>
                        </div> -->
                        <div class="button-size">
                            <mat-icon (click)="openDialog('0ms', '0ms', user.id)"
                                matTooltip="Удалить">delete_outline</mat-icon>
                        </div>
                    </div>
                </div>
            </mat-card>
            }
            }
        </div>
    </div>
</div>